<h2 class="w-100">{{title}}</h2>
<div class="row">
  <ds-search-form id="search-form" class="col-xs-12 col-sm-6"
                  [query]="query"
                  [currentUrl]="currentUrl">
  </ds-search-form>
</div>
<div *ngIf="(objects | async)?.hasSucceeded && !(objects | async)?.isLoading && (objects | async)?.payload?.page.length > 0" @fadeIn>
  <ds-viewable-collection
    [config]="paginationConfig"
    [sortConfig]="sortConfig"
    [objects]="(objects | async)">
  </ds-viewable-collection>
</div>
<ds-loading *ngIf="!objects || (objects | async)?.payload?.page.length <= 0" message="{{'loading.browse-by' | translate}}"></ds-loading>
<ds-error *ngIf="(objects | async)?.hasFailed" message="{{'error.browse-by' | translate}}"></ds-error>
